body {
    padding: 0;
    margin: 0;
}

.i {
    display: flex;
    height: 100vh;
}


.i-left {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.i-right {
    flex: 1;
    position: relative;
}

.i-left-wrapper {
    padding: 50px;
    height: 50%;
    display: flex;
    flex-direction: column;
}

.i-intro {
    margin: 0%;
    font-size: 4em;
    font-weight: 300;
}

.i-name {
    font-size: 3em;
}

.i-title {
    height: 50px;
    overflow: hidden;
}

.i-title-wrapper {
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
    25% {
        transform: translateY(-50px);
    }

    50% {
        transform: translateY(-100px);
    }

    75% {
        transform: translateY(-150px);
    }
}

.i-title-item {
    height: 50px;
    font-size: 2em;
    font-weight: bold;
    color: rgb(78, 78, 197);
    display: flex;
    align-items: center;
}

.i-scroll {
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 20px;
}
.i-desc{
    font-size: 1.4em;
}

.i-img {
    height: 100%;
    width: 100%;
    object-fit:cover;
    position: absolute;
    
}

.i-bg {
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
    background-color: rgb(78, 78, 197);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
}
@media screen and (min-width: 970px){
    .i-img {
            object-fit: contain;
        }
}
@media screen and (max-width: 768px ){
    .i{
        flex-direction: column;

    }
    .i-img{
        object-fit: contain;
    }
    .i-left-wrapper{
        padding: 10px;
        align-items: center;
        text-align: center;
        justify-content: center;
        height: 100%;
    }
    .i-desc{
        display: none;
    }
}